<nav class='width-100 flex-row flex-ai-center flex-spacebetween flex-column-mob'>
    <img id='logoimage' class='width-200px height-100px' src="images/buylogo.png" alt="" />
    <ul class='flex-row flex-wrap mr-10px'>
        <li><button routerLink="" routerLinkActive="router-link-active"  class='btn' type='button'><i class="fa-solid fa-house fs-25px mr-10px"></i>Home</button></li>
        <li><a [href]="FB" id='facebook' class='btn' type='button'><i style="color: blue" class="fa-brands fa-facebook-messenger fs-25px mr-10px"></i>Facebook</a></li>
        <li><a [href]="WA" id='whatsapp' class='btn' type='button'><i style="color: green" class="fa-brands fa-whatsapp fs-25px mr-10px"></i>WhatsApp</a></li>
    </ul>
</nav>